.main {
  padding: 5%;
  text-align: center;
}

input {
  padding: 1%;
  width: 50%;
  margin: 1% 2%;
}

button {
  font-weight: bold;
  background: red;
  border: none;
  color: white;
  padding: 1%;
}
